<?xml version="1.0" encoding="UTF-8"?>
<config>
  <custom/>
  <settings>
    <preloader image="first" showStartButton="false" preLoadImages="false" showLoadedImages="false"/>
    <userInterface defaultCursor="false" showArrows="false" showTogglePlayButton="false" showTogglePanButton="zoom" showToggleRotateButton="zoom" showToggleFullscreenButton="false" showResetButton="zoom" showZoombar="false" showZoomButtons="false" zoomBarClickable="true" showScreenshotButton="false">
      <magnifier enabled="false" radius="100" backgroundColor="FFFFFF"/>
    </userInterface>
    <control disableMouseControl="false" disableClick="true" disableDrag="false" dragSpeed="1" enableSwing="true" maxZoom="300" zoomSteps="2" clickZoomsIn="false" zoomInStopsRotation="true" zoomOutStartsRotation="true" zoomSetsPan="false" playAfterDrag="false" reverseDrag="false" reversePan="false" mouseWheelZooms="false" rotateZoom="false" arrowInterval="100" screenshotFullImage="false"/>
    <rotation autoRestart="0" bounce="false" firstImage="1" rotate="false" rotateDirection="1" rotatePeriod="3" rotationAxis="vertical" disabledIfZoom="false"/>
    <defaults>
      <image shrinkToFit="true" zoomToFit="true"/>
    </defaults>
  </settings>
  <settings>null</settings>
  <images>
    <image src="images/3d/Pokrov_3d0001.jpg"/>
    <image src="images/3d/Pokrov_3d0002.jpg"/>
    <image src="images/3d/Pokrov_3d0003.jpg"/>
    <image src="images/3d/Pokrov_3d0004.jpg"/>
    <image src="images/3d/Pokrov_3d0005.jpg"/>
    <image src="images/3d/Pokrov_3d0006.jpg"/>
    <image src="images/3d/Pokrov_3d0007.jpg"/>
    <image src="images/3d/Pokrov_3d0008.jpg"/>
    <image src="images/3d/Pokrov_3d0009.jpg"/>
    <image src="images/3d/Pokrov_3d0010.jpg"/>
    <image src="images/3d/Pokrov_3d0011.jpg"/>
    <image src="images/3d/Pokrov_3d0012.jpg"/>
    <image src="images/3d/Pokrov_3d0013.jpg"/>
    <image src="images/3d/Pokrov_3d0014.jpg"/>
    <image src="images/3d/Pokrov_3d0015.jpg"/>
    <image src="images/3d/Pokrov_3d0016.jpg"/>
    <image src="images/3d/Pokrov_3d0017.jpg"/>
    <image src="images/3d/Pokrov_3d0018.jpg"/>
    <image src="images/3d/Pokrov_3d0019.jpg"/>
    <image src="images/3d/Pokrov_3d0020.jpg"/>
    <image src="images/3d/Pokrov_3d0021.jpg"/>
    <image src="images/3d/Pokrov_3d0022.jpg"/>
    <image src="images/3d/Pokrov_3d0023.jpg"/>
    <image src="images/3d/Pokrov_3d0024.jpg"/>
    <image src="images/3d/Pokrov_3d0025.jpg"/>
    <image src="images/3d/Pokrov_3d0026.jpg"/>
    <image src="images/3d/Pokrov_3d0027.jpg"/>
    <image src="images/3d/Pokrov_3d0028.jpg"/>
    <image src="images/3d/Pokrov_3d0029.jpg"/>
    <image src="images/3d/Pokrov_3d0030.jpg"/>
    <image src="images/3d/Pokrov_3d0031.jpg"/>
    <image src="images/3d/Pokrov_3d0032.jpg"/>
    <image src="images/3d/Pokrov_3d0033.jpg"/>
    <image src="images/3d/Pokrov_3d0034.jpg"/>
    <image src="images/3d/Pokrov_3d0035.jpg"/>
    <image src="images/3d/Pokrov_3d0036.jpg"/>
    <image src="images/3d/Pokrov_3d0037.jpg"/>
    <image src="images/3d/Pokrov_3d0038.jpg"/>
    <image src="images/3d/Pokrov_3d0039.jpg"/>
    <image src="images/3d/Pokrov_3d0040.jpg"/>
    <image src="images/3d/Pokrov_3d0041.jpg"/>
    <image src="images/3d/Pokrov_3d0042.jpg"/>
    <image src="images/3d/Pokrov_3d0043.jpg"/>
    <image src="images/3d/Pokrov_3d0044.jpg"/>
    <image src="images/3d/Pokrov_3d0045.jpg"/>
    <image src="images/3d/Pokrov_3d0046.jpg"/>
    <image src="images/3d/Pokrov_3d0047.jpg"/>
    <image src="images/3d/Pokrov_3d0048.jpg"/>
    <image src="images/3d/Pokrov_3d0049.jpg"/>
    <image src="images/3d/Pokrov_3d0050.jpg"/>
    <image src="images/3d/Pokrov_3d0051.jpg"/>
    <image src="images/3d/Pokrov_3d0052.jpg"/>
    <image src="images/3d/Pokrov_3d0053.jpg"/>
    <image src="images/3d/Pokrov_3d0054.jpg"/>
    <image src="images/3d/Pokrov_3d0055.jpg"/>
    <image src="images/3d/Pokrov_3d0056.jpg"/>
    <image src="images/3d/Pokrov_3d0057.jpg"/>
    <image src="images/3d/Pokrov_3d0058.jpg"/>
    <image src="images/3d/Pokrov_3d0059.jpg"/>
    <image src="images/3d/Pokrov_3d0060.jpg"/>
    <image src="images/3d/Pokrov_3d0061.jpg"/>
    <image src="images/3d/Pokrov_3d0062.jpg"/>
    <image src="images/3d/Pokrov_3d0063.jpg"/>
    <image src="images/3d/Pokrov_3d0064.jpg"/>
    <image src="images/3d/Pokrov_3d0065.jpg"/>
    <image src="images/3d/Pokrov_3d0066.jpg"/>
    <image src="images/3d/Pokrov_3d0067.jpg"/>
    <image src="images/3d/Pokrov_3d0068.jpg"/>
    <image src="images/3d/Pokrov_3d0069.jpg"/>
    <image src="images/3d/Pokrov_3d0070.jpg"/>
    <image src="images/3d/Pokrov_3d0071.jpg"/>
    <image src="images/3d/Pokrov_3d0072.jpg"/>
    <image src="images/3d/Pokrov_3d0073.jpg"/>
    <image src="images/3d/Pokrov_3d0074.jpg"/>
    <image src="images/3d/Pokrov_3d0075.jpg"/>
    <image src="images/3d/Pokrov_3d0076.jpg"/>
    <image src="images/3d/Pokrov_3d0077.jpg"/>
    <image src="images/3d/Pokrov_3d0078.jpg"/>
    <image src="images/3d/Pokrov_3d0079.jpg"/>
    <image src="images/3d/Pokrov_3d0080.jpg"/>
    <image src="images/3d/Pokrov_3d0081.jpg"/>
    <image src="images/3d/Pokrov_3d0082.jpg"/>
    <image src="images/3d/Pokrov_3d0083.jpg"/>
    <image src="images/3d/Pokrov_3d0084.jpg"/>
    <image src="images/3d/Pokrov_3d0085.jpg"/>
    <image src="images/3d/Pokrov_3d0086.jpg"/>
    <image src="images/3d/Pokrov_3d0087.jpg"/>
    <image src="images/3d/Pokrov_3d0088.jpg"/>
    <image src="images/3d/Pokrov_3d0089.jpg"/>
    <image src="images/3d/Pokrov_3d0090.jpg"/>
    <image src="images/3d/Pokrov_3d0091.jpg"/>
    <image src="images/3d/Pokrov_3d0092.jpg"/>
    <image src="images/3d/Pokrov_3d0093.jpg"/>
    <image src="images/3d/Pokrov_3d0094.jpg"/>
    <image src="images/3d/Pokrov_3d0095.jpg"/>
    <image src="images/3d/Pokrov_3d0096.jpg"/>
    <image src="images/3d/Pokrov_3d0097.jpg"/>
    <image src="images/3d/Pokrov_3d0098.jpg"/>
    <image src="images/3d/Pokrov_3d0099.jpg"/>
    <image src="images/3d/Pokrov_3d0100.jpg"/>
    <image src="images/3d/Pokrov_3d0101.jpg"/>
    <image src="images/3d/Pokrov_3d0102.jpg"/>
    <image src="images/3d/Pokrov_3d0103.jpg"/>
    <image src="images/3d/Pokrov_3d0104.jpg"/>
    <image src="images/3d/Pokrov_3d0105.jpg"/>
    <image src="images/3d/Pokrov_3d0106.jpg"/>
    <image src="images/3d/Pokrov_3d0107.jpg"/>
    <image src="images/3d/Pokrov_3d0108.jpg"/>
    <image src="images/3d/Pokrov_3d0109.jpg"/>
    <image src="images/3d/Pokrov_3d0110.jpg"/>
    <image src="images/3d/Pokrov_3d0111.jpg"/>
    <image src="images/3d/Pokrov_3d0112.jpg"/>
    <image src="images/3d/Pokrov_3d0113.jpg"/>
    <image src="images/3d/Pokrov_3d0114.jpg"/>
    <image src="images/3d/Pokrov_3d0115.jpg"/>
    <image src="images/3d/Pokrov_3d0116.jpg"/>
    <image src="images/3d/Pokrov_3d0117.jpg"/>
    <image src="images/3d/Pokrov_3d0118.jpg"/>
    <image src="images/3d/Pokrov_3d0119.jpg"/>
    <image src="images/3d/Pokrov_3d0120.jpg"/>
    <image src="images/3d/Pokrov_3d0121.jpg"/>
    <image src="images/3d/Pokrov_3d0122.jpg"/>
    <image src="images/3d/Pokrov_3d0123.jpg"/>
    <image src="images/3d/Pokrov_3d0124.jpg"/>
    <image src="images/3d/Pokrov_3d0125.jpg"/>
    <image src="images/3d/Pokrov_3d0126.jpg"/>
    <image src="images/3d/Pokrov_3d0127.jpg"/>
    <image src="images/3d/Pokrov_3d0128.jpg"/>
    <image src="images/3d/Pokrov_3d0129.jpg"/>
    <image src="images/3d/Pokrov_3d0130.jpg"/>
    <image src="images/3d/Pokrov_3d0131.jpg"/>
    <image src="images/3d/Pokrov_3d0132.jpg"/>
    <image src="images/3d/Pokrov_3d0133.jpg"/>
    <image src="images/3d/Pokrov_3d0134.jpg"/>
    <image src="images/3d/Pokrov_3d0135.jpg"/>
    <image src="images/3d/Pokrov_3d0136.jpg"/>
    <image src="images/3d/Pokrov_3d0137.jpg"/>
    <image src="images/3d/Pokrov_3d0138.jpg"/>
    <image src="images/3d/Pokrov_3d0139.jpg"/>
    <image src="images/3d/Pokrov_3d0140.jpg"/>
    <image src="images/3d/Pokrov_3d0141.jpg"/>
    <image src="images/3d/Pokrov_3d0142.jpg"/>
    <image src="images/3d/Pokrov_3d0143.jpg"/>
    <image src="images/3d/Pokrov_3d0144.jpg"/>
    <image src="images/3d/Pokrov_3d0145.jpg"/>
    <image src="images/3d/Pokrov_3d0146.jpg"/>
    <image src="images/3d/Pokrov_3d0147.jpg"/>
    <image src="images/3d/Pokrov_3d0148.jpg"/>
    <image src="images/3d/Pokrov_3d0149.jpg"/>
    <image src="images/3d/Pokrov_3d0150.jpg"/>
    <image src="images/3d/Pokrov_3d0151.jpg"/>
    <image src="images/3d/Pokrov_3d0152.jpg"/>
    <image src="images/3d/Pokrov_3d0153.jpg"/>
    <image src="images/3d/Pokrov_3d0154.jpg"/>
    <image src="images/3d/Pokrov_3d0155.jpg"/>
    <image src="images/3d/Pokrov_3d0156.jpg"/>
    <image src="images/3d/Pokrov_3d0157.jpg"/>
    <image src="images/3d/Pokrov_3d0158.jpg"/>
    <image src="images/3d/Pokrov_3d0159.jpg"/>
    <image src="images/3d/Pokrov_3d0160.jpg"/>
    <image src="images/3d/Pokrov_3d0161.jpg"/>
    <image src="images/3d/Pokrov_3d0162.jpg"/>
    <image src="images/3d/Pokrov_3d0163.jpg"/>
    <image src="images/3d/Pokrov_3d0164.jpg"/>
    <image src="images/3d/Pokrov_3d0165.jpg"/>
    <image src="images/3d/Pokrov_3d0166.jpg"/>
    <image src="images/3d/Pokrov_3d0167.jpg"/>
    <image src="images/3d/Pokrov_3d0168.jpg"/>
    <image src="images/3d/Pokrov_3d0169.jpg"/>
    <image src="images/3d/Pokrov_3d0170.jpg"/>
    <image src="images/3d/Pokrov_3d0171.jpg"/>
    <image src="images/3d/Pokrov_3d0172.jpg"/>
    <image src="images/3d/Pokrov_3d0173.jpg"/>
    <image src="images/3d/Pokrov_3d0174.jpg"/>
    <image src="images/3d/Pokrov_3d0175.jpg"/>
    <image src="images/3d/Pokrov_3d0176.jpg"/>
    <image src="images/3d/Pokrov_3d0177.jpg"/>
    <image src="images/3d/Pokrov_3d0178.jpg"/>
    <image src="images/3d/Pokrov_3d0179.jpg"/>
    <image src="images/3d/Pokrov_3d0180.jpg"/>
    <image src="images/3d/Pokrov_3d0181.jpg"/>
    <image src="images/3d/Pokrov_3d0182.jpg"/>
    <image src="images/3d/Pokrov_3d0183.jpg"/>
    <image src="images/3d/Pokrov_3d0184.jpg"/>
    <image src="images/3d/Pokrov_3d0185.jpg"/>
    <image src="images/3d/Pokrov_3d0186.jpg"/>
    <image src="images/3d/Pokrov_3d0187.jpg"/>
    <image src="images/3d/Pokrov_3d0188.jpg"/>
    <image src="images/3d/Pokrov_3d0189.jpg"/>
    <image src="images/3d/Pokrov_3d0190.jpg"/>
    <image src="images/3d/Pokrov_3d0191.jpg"/>
    <image src="images/3d/Pokrov_3d0192.jpg"/>
    <image src="images/3d/Pokrov_3d0193.jpg"/>
    <image src="images/3d/Pokrov_3d0194.jpg"/>
    <image src="images/3d/Pokrov_3d0195.jpg"/>
    <image src="images/3d/Pokrov_3d0196.jpg"/>
    <image src="images/3d/Pokrov_3d0197.jpg"/>
    <image src="images/3d/Pokrov_3d0198.jpg"/>
    <image src="images/3d/Pokrov_3d0199.jpg"/>
    <image src="images/3d/Pokrov_3d0200.jpg"/>
    <image src="images/3d/Pokrov_3d0201.jpg"/>
    <image src="images/3d/Pokrov_3d0202.jpg"/>
    <image src="images/3d/Pokrov_3d0203.jpg"/>
    <image src="images/3d/Pokrov_3d0204.jpg"/>
    <image src="images/3d/Pokrov_3d0205.jpg"/>
    <image src="images/3d/Pokrov_3d0206.jpg"/>
    <image src="images/3d/Pokrov_3d0207.jpg"/>
    <image src="images/3d/Pokrov_3d0208.jpg"/>
    <image src="images/3d/Pokrov_3d0209.jpg"/>
    <image src="images/3d/Pokrov_3d0210.jpg"/>
    <image src="images/3d/Pokrov_3d0211.jpg"/>
    <image src="images/3d/Pokrov_3d0212.jpg"/>
    <image src="images/3d/Pokrov_3d0213.jpg"/>
    <image src="images/3d/Pokrov_3d0214.jpg"/>
    <image src="images/3d/Pokrov_3d0215.jpg"/>
    <image src="images/3d/Pokrov_3d0216.jpg"/>
    <image src="images/3d/Pokrov_3d0217.jpg"/>
    <image src="images/3d/Pokrov_3d0218.jpg"/>
    <image src="images/3d/Pokrov_3d0219.jpg"/>
    <image src="images/3d/Pokrov_3d0220.jpg"/>
    <image src="images/3d/Pokrov_3d0221.jpg"/>
    <image src="images/3d/Pokrov_3d0222.jpg"/>
    <image src="images/3d/Pokrov_3d0223.jpg"/>
    <image src="images/3d/Pokrov_3d0224.jpg"/>
    <image src="images/3d/Pokrov_3d0225.jpg"/>
    <image src="images/3d/Pokrov_3d0226.jpg"/>
    <image src="images/3d/Pokrov_3d0227.jpg"/>
    <image src="images/3d/Pokrov_3d0228.jpg"/>
    <image src="images/3d/Pokrov_3d0229.jpg"/>
    <image src="images/3d/Pokrov_3d0230.jpg"/>
    <image src="images/3d/Pokrov_3d0231.jpg"/>
    <image src="images/3d/Pokrov_3d0232.jpg"/>
    <image src="images/3d/Pokrov_3d0233.jpg"/>
    <image src="images/3d/Pokrov_3d0234.jpg"/>
    <image src="images/3d/Pokrov_3d0235.jpg"/>
    <image src="images/3d/Pokrov_3d0236.jpg"/>
    <image src="images/3d/Pokrov_3d0237.jpg"/>
    <image src="images/3d/Pokrov_3d0238.jpg"/>
    <image src="images/3d/Pokrov_3d0239.jpg"/>
    <image src="images/3d/Pokrov_3d0240.jpg"/>
    <image src="images/3d/Pokrov_3d0241.jpg"/>
  </images>
</config>
