/* line 17, ../../app/styles/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: none;
}

/* line 22, ../../app/styles/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../app/styles/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../app/styles/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../app/styles/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../app/styles/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../app/styles/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../app/styles/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../app/styles/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'PT Sans Narrow Demi Regular';
  src: url("fonts/ptn57f-webfont.eot");
  src: url("fonts/ptn57f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptn57f-webfont.woff") format("woff"), url("fonts/ptn57f-webfont.ttf") format("truetype"), url("fonts/ptn57f-webfont.svg#pt_sans_narrowregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Narrow Demi Bold';
  src: url("fonts/ptn77f-webfont.eot");
  src: url("fonts/ptn77f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptn77f-webfont.woff") format("woff"), url("fonts/ptn77f-webfont.ttf") format("truetype"), url("fonts/ptn77f-webfont.svg#pt_sans_narrowbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Pro Narrow Demi Regular';
  src: url("fonts/ptn67-webfont.eot");
  src: url("fonts/ptn67-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptn67-webfont.woff") format("woff"), url("fonts/ptn67-webfont.ttf") format("truetype"), url("fonts/ptn67-webfont.svg#pt_sans_pro_narrow_demiRg") format("svg");
}

@font-face {
  font-family: 'PT Serif Caption Regular';
  src: url("fonts/ptz55f-webfont.eot");
  src: url("fonts/ptz55f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptz55f-webfont.woff") format("woff"), url("fonts/ptz55f-webfont.ttf") format("truetype"), url("fonts/ptz55f-webfont.svg#pt_serif_captionregular") format("svg");
}

@font-face {
  font-family: 'PT Sans Pro Extra Bold Regular';
  src: url("fonts/pts85-webfont.eot");
  src: url("fonts/pts85-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pts85-webfont.woff") format("woff"), url("fonts/pts85-webfont.ttf") format("truetype"), url("fonts/pts85-webfont.svg#pt_sans_pro_extra_boldregular") format("svg");
}

@font-face {
  font-family: 'PT Serif Caption Italic';
  src: url("fonts/ptz56f-webfont.eot");
  src: url("fonts/ptz56f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptz56f-webfont.woff") format("woff"), url("fonts/ptz56f-webfont.ttf") format("truetype"), url("fonts/ptz56f-webfont.svg#pt_serif_captionitalic") format("svg");
}

@font-face {
  font-family: 'PT Sans Pro Condensed Demi Regular';
  src: url("fonts/pts67-webfont.eot");
  src: url("fonts/pts67-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pts67-webfont.woff") format("woff"), url("fonts/pts67-webfont.ttf") format("truetype"), url("fonts/pts67-webfont.svg") format("svg");
}

@font-face {
  font-family: 'PT Sans Pro Narrow Light Regular';
  src: url("fonts/ptn47-webfont.eot");
  src: url("fonts/ptn47-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptn47-webfont.woff") format("woff"), url("fonts/ptn47-webfont.ttf") format("truetype"), url("fonts/ptn47-webfont.svg") format("svg");
}

@font-face {
  font-family: 'PT Serif Regular';
  src: url("fonts/ptf55f-webfont.eot");
  src: url("fonts/ptf55f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptf55f-webfont.woff") format("woff"), url("fonts/ptf55f-webfont.ttf") format("truetype"), url("fonts/ptf55f-webfont.svg") format("svg");
}

@font-face {
  font-family: 'PT Sans Caption Regular';
  src: url("fonts/ptc55f-webfont.eot");
  src: url("fonts/ptc55f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptc55f-webfont.woff") format("woff"), url("fonts/ptc55f-webfont.ttf") format("truetype"), url("fonts/ptc55f-webfont.svg#pt_sans_captionregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Pro Narrow Extra Bold Regular';
  src: url("fonts/ptn87-webfont.eot");
  src: url("fonts/ptn87-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptn87-webfont.woff") format("woff"), url("fonts/ptn87-webfont.ttf") format("truetype"), url("fonts/ptn87-webfont.svg#pt_sans_pro_narrow_extra_boRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Regular';
  src: url("fonts/pts55f-webfont.eot");
  src: url("fonts/pts55f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pts55f-webfont.woff") format("woff"), url("fonts/pts55f-webfont.ttf") format("truetype"), url("fonts/pts55f-webfont.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Pro Condensed Light';
  src: url("fonts/pts47-webfont.eot");
  src: url("fonts/pts47-webfont.eot") format("embedded-opentype"), url("fonts/pts47-webfont.woff") format("woff"), url("fonts/pts47-webfont.ttf") format("truetype"), url("fonts/pts47-webfont.svg#PTSansProCondensedLight") format("svg");
}

/* line 26, ../../app/styles/_base.scss */
div, ul {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

/* line 32, ../../app/styles/_base.scss */
.page {
  left: 0px;
  top: 0px;
  width: 1536px;
  height: 2048px;
}

/* line 41, ../../app/styles/_base.scss */
.page#level1 {
  left: 0px;
}

/* line 41, ../../app/styles/_base.scss */
.page#level2 {
  left: 1536px;
}

/* line 41, ../../app/styles/_base.scss */
.page#level3 {
  left: 3072px;
}

/* line 41, ../../app/styles/_base.scss */
.page#level4 {
  left: 4608px;
}

/* line 41, ../../app/styles/_base.scss */
.page#level5 {
  left: 6144px;
}

/* line 41, ../../app/styles/_base.scss */
.page#level6 {
  left: 7680px;
}

/* line 41, ../../app/styles/_base.scss */
.page#level7 {
  left: 9216px;
}

/* line 41, ../../app/styles/_base.scss */
.page#level8 {
  left: 10752px;
}

/* line 41, ../../app/styles/_base.scss */
.page#level9 {
  left: 12288px;
}

/* line 41, ../../app/styles/_base.scss */
.page#level10 {
  left: 13824px;
}

/* line 41, ../../app/styles/_base.scss */
.page#level11 {
  left: 15360px;
}

/* line 41, ../../app/styles/_base.scss */
.page#level12 {
  left: 16896px;
}

/* line 47, ../../app/styles/_base.scss */
.page-header {
  left: 104px;
  top: 57px;
  position: fixed;
  font-family: "PT Sans Pro Condensed Demi Regular";
  font-size: 45px;
  letter-spacing: 1px;
  line-height: 120%;
}

/* line 59, ../../app/styles/_base.scss */
.color-gray {
  color: #808183;
}

/* line 63, ../../app/styles/_base.scss */
.underline {
  border-bottom: 1px solid;
}

/* line 67, ../../app/styles/_base.scss */
.red-line {
  padding-left: 40px;
}

/* line 71, ../../app/styles/_base.scss */
.button {
  top: 52px;
  position: fixed;
}
/* line 76, ../../app/styles/_base.scss */
.button.audio, .button.text {
  left: 859px;
}
/* line 79, ../../app/styles/_base.scss */
.button.model, .button.infographics, .button.panorama {
  left: 988px;
}
/* line 82, ../../app/styles/_base.scss */
.button.plan {
  left: 1117px;
}
/* line 85, ../../app/styles/_base.scss */
.button.contents {
  left: 1245px;
}
/* line 88, ../../app/styles/_base.scss */
.button.back {
  left: 1374px;
}
/* line 92, ../../app/styles/_base.scss */
.button.hint {
  left: 1374px;
}

/* line 97, ../../app/styles/_base.scss */
.page-hint {
  left: 104px;
  top: 272px;
  font-family: "PT Sans Regular";
  font-size: 24px;
  letter-spacing: 1px;
}
/* line 105, ../../app/styles/_base.scss */
.page-hint.right {
  left: 854px;
}

/* line 110, ../../app/styles/_base.scss */
.page-content-gray {
  left: 0px;
  top: 240px;
  width: 1536px;
  height: 1808px;
  z-index: -1;
  background-color: #ededee;
}

/* line 121, ../../app/styles/_base.scss */
.hint-box {
  left: 778px;
  top: 264px;
  width: 45px;
  height: 45px;
  background: #63c6ef;
}

/* line 130, ../../app/styles/_base.scss */
.ui-slider {
  background: white;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: solid;
  border-width: 1px;
  border-color: #808183;
  background: #ededee;
}
/* line 142, ../../app/styles/_base.scss */
.ui-slider .ui-slider-range {
  top: 0px;
  height: 100%;
  -moz-border-radius-topleft: 13px;
  -webkit-border-top-left-radius: 13px;
  border-top-left-radius: 13px;
  -moz-border-radius-bottomleft: 13px;
  -webkit-border-bottom-left-radius: 13px;
  border-bottom-left-radius: 13px;
  background: #6c61a7;
}
/* line 152, ../../app/styles/_base.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  outline-style: none;
  margin-left: -22px;
  margin-top: -5px;
  background-image: url('../images/generated/buttons-seea6603766.png');
  background-position: 0 -84px;
  background-repeat: no-repeat;
  height: 46px;
  width: 46px;
}
/* line 13, ../../app/styles/_sprites.scss */
.ui-slider .ui-slider-handle:active {
  background-position: 0 -38px;
}
/* line 162, ../../app/styles/_base.scss */
.ui-slider .value {
  top: 46px;
  font-family: "PT Sans Regular";
  font-size: 18px;
  letter-spacing: 1px;
}
/* line 170, ../../app/styles/_base.scss */
.ui-slider .min {
  left: 0px;
}
/* line 173, ../../app/styles/_base.scss */
.ui-slider .max {
  right: 0px;
}
/* line 176, ../../app/styles/_base.scss */
.ui-slider .current {
  margin-left: -15px;
}

/* line 181, ../../app/styles/_base.scss */
.navigation {
  top: 1983px;
  position: fixed;
}
/* line 185, ../../app/styles/_base.scss */
.navigation div {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: white;
}
/* line 192, ../../app/styles/_base.scss */
.navigation div.active {
  background: #63c6ef;
}

/* line 6, ../../app/styles/info.scss */
.button.plan {
  background-image: url('../images/generated/buttons-seea6603766.png');
  background-position: 0 -1348px;
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
}
/* line 13, ../../app/styles/_sprites.scss */
.button.plan:active {
  background-position: 0 -1458px;
}
/* line 9, ../../app/styles/info.scss */
.button.contents {
  background-image: url('../images/generated/buttons-seea6603766.png');
  background-position: 0 -688px;
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
}
/* line 13, ../../app/styles/_sprites.scss */
.button.contents:active {
  background-position: 0 -798px;
}
/* line 12, ../../app/styles/info.scss */
.button.back {
  background-image: url('../images/generated/buttons-seea6603766.png');
  background-position: 0 -468px;
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
}
/* line 13, ../../app/styles/_sprites.scss */
.button.back:active {
  background-position: 0 -358px;
}

/* line 18, ../../app/styles/info.scss */
.navigation div {
  background: #ededee;
}

/* line 25, ../../app/styles/info.scss */
.navigation #nav1 {
  left: 688px;
}

/* line 25, ../../app/styles/info.scss */
.navigation #nav2 {
  left: 753px;
}

/* line 25, ../../app/styles/info.scss */
.navigation #nav3 {
  left: 818px;
}

/* line 32, ../../app/styles/info.scss */
#level1 .page-content-purple {
  left: 0px;
  top: 240px;
  width: 1536px;
  height: 1808px;
  background-color: #6c61a7;
}
/* line 41, ../../app/styles/info.scss */
#level1 .page-content-purple .header {
  font-family: 'PT Sans Pro Narrow Extra Bold Regular';
  font-size: 60px;
  letter-spacing: 10px;
  color: white;
}
/* line 48, ../../app/styles/info.scss */
#level1 .page-content-purple .header#first {
  left: 105px;
  top: 100px;
}
/* line 52, ../../app/styles/info.scss */
#level1 .page-content-purple .header#second {
  left: 105px;
  top: 796px;
}
/* line 58, ../../app/styles/info.scss */
#level1 .page-content-purple .time {
  left: 83px;
  top: 259px;
  display: none;
}
/* line 63, ../../app/styles/info.scss */
#level1 .page-content-purple .time#selector1 {
  background-image: url('../images/generated/info-sd9e2cfecbf.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 192px;
  width: 1333px;
}
/* line 67, ../../app/styles/info.scss */
#level1 .page-content-purple .time#selector2 {
  background-image: url('../images/generated/info-sd9e2cfecbf.png');
  background-position: 0 -384px;
  background-repeat: no-repeat;
  height: 192px;
  width: 1333px;
}
/* line 71, ../../app/styles/info.scss */
#level1 .page-content-purple .time#selector3 {
  background-image: url('../images/generated/info-sd9e2cfecbf.png');
  background-position: 0 -192px;
  background-repeat: no-repeat;
  height: 192px;
  width: 1333px;
}
/* line 76, ../../app/styles/info.scss */
#level1 .page-content-purple .period {
  top: 551px;
  font-family: 'PT Sans Pro Narrow Light Regular';
  color: #d6d7d7;
  font-size: 53px;
  letter-spacing: 2px;
}
/* line 84, ../../app/styles/info.scss */
#level1 .page-content-purple .period#selector1 {
  left: 105px;
}
/* line 87, ../../app/styles/info.scss */
#level1 .page-content-purple .period#selector1.active {
  color: #63c6ef;
}
/* line 92, ../../app/styles/info.scss */
#level1 .page-content-purple .period#selector2 {
  left: 524px;
}
/* line 95, ../../app/styles/info.scss */
#level1 .page-content-purple .period#selector2.active {
  color: #8ebb60;
}
/* line 100, ../../app/styles/info.scss */
#level1 .page-content-purple .period#selector3 {
  left: 1145px;
}
/* line 103, ../../app/styles/info.scss */
#level1 .page-content-purple .period#selector3.active {
  color: #ffe95d;
}
/* line 109, ../../app/styles/info.scss */
#level1 .page-content-purple .hint {
  left: 105px;
  top: 643px;
  font-family: "PT Sans Regular";
  font-size: 22px;
  letter-spacing: 1px;
  color: #d6d7d7;
}
/* line 120, ../../app/styles/info.scss */
#level1 .page-content-purple .price {
  font-family: 'PT Sans Pro Narrow Light Regular';
  color: #d6d7d7;
  font-size: 34px;
  letter-spacing: 2px;
}
/* line 127, ../../app/styles/info.scss */
#level1 .page-content-purple .category {
  top: 938px;
}
/* line 130, ../../app/styles/info.scss */
#level1 .page-content-purple .category#adult {
  left: 105px;
}
/* line 134, ../../app/styles/info.scss */
#level1 .page-content-purple .category#children {
  left: 392px;
}
/* line 138, ../../app/styles/info.scss */
#level1 .page-content-purple .category#pensioner {
  left: 780px;
}
/* line 142, ../../app/styles/info.scss */
#level1 .page-content-purple .category#special {
  left: 1117px;
}
/* line 147, ../../app/styles/info.scss */
#level1 .page-content-purple .category.active.yellow {
  color: #ffe95d;
}
/* line 151, ../../app/styles/info.scss */
#level1 .page-content-purple .category.active.green {
  color: #9dc66d;
}
/* line 155, ../../app/styles/info.scss */
#level1 .page-content-purple .category.active.light-blue {
  color: #63c6ef;
}
/* line 161, ../../app/styles/info.scss */
#level1 .page-content-purple .group {
  left: 105px;
}
/* line 164, ../../app/styles/info.scss */
#level1 .page-content-purple .group#individual {
  top: 1122px;
}
/* line 167, ../../app/styles/info.scss */
#level1 .page-content-purple .group#individual.active {
  color: #63c6ef;
}
/* line 172, ../../app/styles/info.scss */
#level1 .page-content-purple .group#medium {
  top: 1270px;
}
/* line 175, ../../app/styles/info.scss */
#level1 .page-content-purple .group#medium.active {
  color: #9dc66d;
}
/* line 180, ../../app/styles/info.scss */
#level1 .page-content-purple .group#small {
  top: 1445px;
}
/* line 183, ../../app/styles/info.scss */
#level1 .page-content-purple .group#small.active {
  color: #ffe95d;
}
/* line 189, ../../app/styles/info.scss */
#level1 .page-content-purple .action {
  top: 1641px;
}
/* line 192, ../../app/styles/info.scss */
#level1 .page-content-purple .action#nonpro-photo {
  left: 105px;
}
/* line 195, ../../app/styles/info.scss */
#level1 .page-content-purple .action#nonpro-photo.active {
  color: #63c6ef;
}
/* line 200, ../../app/styles/info.scss */
#level1 .page-content-purple .action#nonpro-video {
  left: 624px;
}
/* line 203, ../../app/styles/info.scss */
#level1 .page-content-purple .action#nonpro-video.active {
  color: #9dc66d;
}
/* line 208, ../../app/styles/info.scss */
#level1 .page-content-purple .action#audio {
  left: 1147px;
}
/* line 211, ../../app/styles/info.scss */
#level1 .page-content-purple .action#audio.active {
  color: #ffe95d;
}
/* line 217, ../../app/styles/info.scss */
#level1 .page-content-purple .price-place {
  left: 475px;
  top: 1118px;
  background-image: url('../images/generated/info-sd9e2cfecbf.png');
  background-position: 0 -576px;
  background-repeat: no-repeat;
  height: 396px;
  width: 958px;
}
/* line 223, ../../app/styles/info.scss */
#level1 .page-content-purple .price-place .price-card {
  left: 3px;
  top: 3px;
  width: 777px;
  height: 391px;
  border-radius: 2%/4%;
}
/* line 232, ../../app/styles/info.scss */
#level1 .page-content-purple .price-place .price-card.yellow {
  background-color: #ffe95d;
  color: #6c61a7;
}
/* line 237, ../../app/styles/info.scss */
#level1 .page-content-purple .price-place .price-card.green {
  background-color: #9dc66d;
  color: white;
}
/* line 242, ../../app/styles/info.scss */
#level1 .page-content-purple .price-place .price-card.light-blue {
  background-color: #63c6ef;
  color: white;
}
/* line 247, ../../app/styles/info.scss */
#level1 .page-content-purple .price-place .price-card .price-value {
  right: 80px;
  text-align: right;
  font-size: 385px;
  font-family: 'PT Sans Pro Condensed Light';
  font-size: 385px;
}
/* line 260, ../../app/styles/info.scss */
#level1 .page-content-purple .separator {
  left: 105px;
  width: 1333px;
  border-bottom: 5px dotted white;
}
/* line 267, ../../app/styles/info.scss */
#level1 .page-content-purple .separator#first {
  top: 1054px;
}
/* line 271, ../../app/styles/info.scss */
#level1 .page-content-purple .separator#second {
  top: 1580px;
}

/* line 279, ../../app/styles/info.scss */
#level2 .text-description {
  top: 253px;
  width: 650px;
  font-size: 25px;
  line-height: 46px;
  letter-spacing: 1px;
}
/* line 288, ../../app/styles/info.scss */
#level2 .text-description .name {
  font-family: 'PT Serif Caption Italic';
}
/* line 291, ../../app/styles/info.scss */
#level2 .text-description .header {
  font-family: 'PT Sans Pro Extra Bold Regular';
}
/* line 294, ../../app/styles/info.scss */
#level2 .text-description .text {
  font-family: 'PT Serif Caption Regular';
}
/* line 298, ../../app/styles/info.scss */
#level2 .text-description a {
  color: black;
  text-decoration: none;
}
/* line 303, ../../app/styles/info.scss */
#level2 .text-description.text-column1 {
  left: 104px;
}
/* line 307, ../../app/styles/info.scss */
#level2 .text-description.text-column2 {
  left: 777px;
}

/* line 314, ../../app/styles/info.scss */
#level3 .header {
  left: 119px;
  font-family: 'PT Sans Pro Condensed Demi Regular';
  font-size: 40px;
  letter-spacing: 1px;
}
/* line 321, ../../app/styles/info.scss */
#level3 .header#first {
  top: 252px;
}
/* line 325, ../../app/styles/info.scss */
#level3 .header#second {
  top: 1258px;
}
/* line 330, ../../app/styles/info.scss */
#level3 .text {
  left: 104px;
  width: 1329px;
  font-family: 'PT Serif Caption Regular';
  font-size: 32px;
  line-height: 46px;
}
/* line 339, ../../app/styles/info.scss */
#level3 .text#first {
  top: 345px;
}
/* line 343, ../../app/styles/info.scss */
#level3 .text#second {
  top: 1353px;
}
