/* line 17, ../../app/styles/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../app/styles/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

/* line 24, ../../app/styles/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../app/styles/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../app/styles/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../app/styles/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../app/styles/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../app/styles/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../app/styles/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'PT Sans Narrow Demi Regular';
  src: url("fonts/ptn57f-webfont.eot");
  src: url("fonts/ptn57f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptn57f-webfont.woff") format("woff"), url("fonts/ptn57f-webfont.ttf") format("truetype"), url("fonts/ptn57f-webfont.svg#pt_sans_narrowregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Narrow Demi Bold';
  src: url("fonts/ptn77f-webfont.eot");
  src: url("fonts/ptn77f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptn77f-webfont.woff") format("woff"), url("fonts/ptn77f-webfont.ttf") format("truetype"), url("fonts/ptn77f-webfont.svg#pt_sans_narrowbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Pro Narrow Demi Regular';
  src: url("fonts/ptn67-webfont.eot");
  src: url("fonts/ptn67-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptn67-webfont.woff") format("woff"), url("fonts/ptn67-webfont.ttf") format("truetype"), url("fonts/ptn67-webfont.svg#pt_sans_pro_narrow_demiRg") format("svg");
}

@font-face {
  font-family: 'PT Serif Caption Regular';
  src: url("fonts/ptz55f-webfont.eot");
  src: url("fonts/ptz55f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptz55f-webfont.woff") format("woff"), url("fonts/ptz55f-webfont.ttf") format("truetype"), url("fonts/ptz55f-webfont.svg#pt_serif_captionregular") format("svg");
}

@font-face {
  font-family: 'PT Sans Pro Extra Bold Regular';
  src: url("fonts/pts85-webfont.eot");
  src: url("fonts/pts85-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pts85-webfont.woff") format("woff"), url("fonts/pts85-webfont.ttf") format("truetype"), url("fonts/pts85-webfont.svg#pt_sans_pro_extra_boldregular") format("svg");
}

@font-face {
  font-family: 'PT Serif Caption Italic';
  src: url("fonts/ptz56f-webfont.eot");
  src: url("fonts/ptz56f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptz56f-webfont.woff") format("woff"), url("fonts/ptz56f-webfont.ttf") format("truetype"), url("fonts/ptz56f-webfont.svg#pt_serif_captionitalic") format("svg");
}

@font-face {
  font-family: 'PT Sans Pro Condensed Demi Regular';
  src: url("fonts/pts67-webfont.eot");
  src: url("fonts/pts67-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pts67-webfont.woff") format("woff"), url("fonts/pts67-webfont.ttf") format("truetype"), url("fonts/pts67-webfont.svg") format("svg");
}

@font-face {
  font-family: 'PT Sans Pro Narrow Light Regular';
  src: url("fonts/ptn47-webfont.eot");
  src: url("fonts/ptn47-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptn47-webfont.woff") format("woff"), url("fonts/ptn47-webfont.ttf") format("truetype"), url("fonts/ptn47-webfont.svg") format("svg");
}

@font-face {
  font-family: 'PT Serif Regular';
  src: url("fonts/ptf55f-webfont.eot");
  src: url("fonts/ptf55f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptf55f-webfont.woff") format("woff"), url("fonts/ptf55f-webfont.ttf") format("truetype"), url("fonts/ptf55f-webfont.svg") format("svg");
}

@font-face {
  font-family: 'PT Sans Caption Regular';
  src: url("fonts/ptc55f-webfont.eot");
  src: url("fonts/ptc55f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptc55f-webfont.woff") format("woff"), url("fonts/ptc55f-webfont.ttf") format("truetype"), url("fonts/ptc55f-webfont.svg#pt_sans_captionregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Pro Narrow Extra Bold Regular';
  src: url("fonts/ptn87-webfont.eot");
  src: url("fonts/ptn87-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptn87-webfont.woff") format("woff"), url("fonts/ptn87-webfont.ttf") format("truetype"), url("fonts/ptn87-webfont.svg#pt_sans_pro_narrow_extra_boRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Regular';
  src: url("fonts/pts55f-webfont.eot");
  src: url("fonts/pts55f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pts55f-webfont.woff") format("woff"), url("fonts/pts55f-webfont.ttf") format("truetype"), url("fonts/pts55f-webfont.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Pro Condensed Light';
  src: url("fonts/pts47-webfont.eot");
  src: url("fonts/pts47-webfont.eot") format("embedded-opentype"), url("fonts/pts47-webfont.woff") format("woff"), url("fonts/pts47-webfont.ttf") format("truetype"), url("fonts/pts47-webfont.svg#PTSansProCondensedLight") format("svg");
}

/* line 25, ../../app/styles/_base.scss */
div, ul {
  position: absolute;
}

/* line 29, ../../app/styles/_base.scss */
.page {
  left: 0px;
  width: 1536px;
  height: 2048px;
}

/* line 36, ../../app/styles/_base.scss */
.page-header {
  left: 101px;
  top: 62px;
  font-family: "PT Sans Pro Condensed Demi Regular";
  font-size: 45px;
  letter-spacing: 1px;
}

/* line 45, ../../app/styles/_base.scss */
.color-gray {
  color: #808183;
}

/* line 49, ../../app/styles/_base.scss */
.underline {
  border-bottom: 2px solid;
}

/* line 53, ../../app/styles/_base.scss */
.button {
  top: 52px;
}
/* line 56, ../../app/styles/_base.scss */
.button.audio, .button.text {
  left: 859px;
}
/* line 59, ../../app/styles/_base.scss */
.button.model, .button.infographics {
  left: 988px;
}
/* line 62, ../../app/styles/_base.scss */
.button.plan {
  left: 1117px;
}
/* line 65, ../../app/styles/_base.scss */
.button.contents {
  left: 1245px;
}
/* line 68, ../../app/styles/_base.scss */
.button.back {
  left: 1374px;
}

/* line 73, ../../app/styles/_base.scss */
.page-hint {
  left: 101px;
  top: 272px;
  font-family: "PT Sans Regular";
  font-size: 24px;
  letter-spacing: 1px;
}

/* line 82, ../../app/styles/_base.scss */
.ui-slider {
  background: white;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* line 88, ../../app/styles/_base.scss */
.ui-slider .ui-slider-range {
  top: 0px;
  height: 100%;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #6c61a7;
}
/* line 98, ../../app/styles/_base.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  outline-style: none;
  margin-left: -23px;
  margin-top: -5px;
  background-image: url('../images/generated/buttons-s317a563d48.png');
  background-position: 0 -38px;
  background-repeat: no-repeat;
  height: 46px;
  width: 46px;
}
/* line 13, ../../app/styles/_sprites.scss */
.ui-slider .ui-slider-handle:active {
  background-position: 0 -84px;
}
/* line 108, ../../app/styles/_base.scss */
.ui-slider .value {
  top: 46px;
  font-family: "PT Sans Regular";
  font-size: 18px;
  letter-spacing: 1px;
}
/* line 116, ../../app/styles/_base.scss */
.ui-slider .min {
  left: 0px;
}
/* line 119, ../../app/styles/_base.scss */
.ui-slider .max {
  right: 0px;
}
/* line 122, ../../app/styles/_base.scss */
.ui-slider .current {
  margin-left: -15px;
}

/* line 8, ../../app/styles/info.scss */
.button.text {
  background-image: url('../images/generated/buttons-s317a563d48.png');
  background-position: 0 -1382px;
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
}
/* line 13, ../../app/styles/_sprites.scss */
.button.text:active {
  background-position: 0 -1492px;
}
/* line 11, ../../app/styles/info.scss */
.button.infographics {
  background-image: url('../images/generated/buttons-s317a563d48.png');
  background-position: 0 -722px;
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
}
/* line 13, ../../app/styles/_sprites.scss */
.button.infographics:active {
  background-position: 0 -832px;
}
/* line 14, ../../app/styles/info.scss */
.button.plan {
  background-image: url('../images/generated/buttons-s317a563d48.png');
  background-position: 0 -1052px;
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
}
/* line 13, ../../app/styles/_sprites.scss */
.button.plan:active {
  background-position: 0 -1162px;
}
/* line 17, ../../app/styles/info.scss */
.button.contents {
  background-image: url('../images/generated/buttons-s317a563d48.png');
  background-position: 0 -392px;
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
}
/* line 13, ../../app/styles/_sprites.scss */
.button.contents:active {
  background-position: 0 -502px;
}
/* line 20, ../../app/styles/info.scss */
.button.back {
  background-image: url('../images/generated/buttons-s317a563d48.png');
  background-position: 0 -1712px;
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
}
/* line 13, ../../app/styles/_sprites.scss */
.button.back:active {
  background-position: 0 -942px;
}

/* line 25, ../../app/styles/info.scss */
.level1 {
  top: 0px;
}
/* line 31, ../../app/styles/info.scss */
.level1 .button.infographics {
  background-image: url('../images/generated/buttons-s317a563d48.png');
  background-position: 0 -832px;
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
}
/* line 36, ../../app/styles/info.scss */
.level1 .page-content-purple {
  left: 0px;
  top: 240px;
  width: 1536px;
  height: 1808px;
  background-color: #6c61a7;
}
/* line 45, ../../app/styles/info.scss */
.level1 .page-content-purple .header {
  font-family: 'PT Sans Pro Narrow Extra Bold Regular';
  font-size: 60px;
  letter-spacing: 10px;
  color: white;
}
/* line 52, ../../app/styles/info.scss */
.level1 .page-content-purple .header#first {
  left: 105px;
  top: 100px;
}
/* line 56, ../../app/styles/info.scss */
.level1 .page-content-purple .header#second {
  left: 105px;
  top: 796px;
}
/* line 62, ../../app/styles/info.scss */
.level1 .page-content-purple .time {
  left: 83px;
  top: 259px;
  display: none;
}
/* line 67, ../../app/styles/info.scss */
.level1 .page-content-purple .time#selector1 {
  background-image: url('../images/generated/info-sd9e2cfecbf.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 192px;
  width: 1333px;
}
/* line 71, ../../app/styles/info.scss */
.level1 .page-content-purple .time#selector2 {
  background-image: url('../images/generated/info-sd9e2cfecbf.png');
  background-position: 0 -384px;
  background-repeat: no-repeat;
  height: 192px;
  width: 1333px;
}
/* line 75, ../../app/styles/info.scss */
.level1 .page-content-purple .time#selector3 {
  background-image: url('../images/generated/info-sd9e2cfecbf.png');
  background-position: 0 -192px;
  background-repeat: no-repeat;
  height: 192px;
  width: 1333px;
}
/* line 80, ../../app/styles/info.scss */
.level1 .page-content-purple .period {
  top: 551px;
  font-family: 'PT Sans Pro Narrow Light Regular';
  color: #d6d7d7;
  font-size: 53px;
  letter-spacing: 2px;
}
/* line 88, ../../app/styles/info.scss */
.level1 .page-content-purple .period#selector1 {
  left: 105px;
}
/* line 91, ../../app/styles/info.scss */
.level1 .page-content-purple .period#selector1.active {
  color: #63c6ef;
}
/* line 96, ../../app/styles/info.scss */
.level1 .page-content-purple .period#selector2 {
  left: 524px;
}
/* line 99, ../../app/styles/info.scss */
.level1 .page-content-purple .period#selector2.active {
  color: #8ebb60;
}
/* line 104, ../../app/styles/info.scss */
.level1 .page-content-purple .period#selector3 {
  left: 1145px;
}
/* line 107, ../../app/styles/info.scss */
.level1 .page-content-purple .period#selector3.active {
  color: #ffe95d;
}
/* line 113, ../../app/styles/info.scss */
.level1 .page-content-purple .hint {
  left: 105px;
  top: 643px;
  font-family: "PT Sans Regular";
  font-size: 22px;
  letter-spacing: 1px;
  color: #d6d7d7;
}
/* line 124, ../../app/styles/info.scss */
.level1 .page-content-purple .price {
  font-family: 'PT Sans Pro Narrow Light Regular';
  color: #d6d7d7;
  font-size: 34px;
  letter-spacing: 2px;
}
/* line 131, ../../app/styles/info.scss */
.level1 .page-content-purple .category {
  top: 938px;
}
/* line 134, ../../app/styles/info.scss */
.level1 .page-content-purple .category#adult {
  left: 105px;
}
/* line 138, ../../app/styles/info.scss */
.level1 .page-content-purple .category#children {
  left: 392px;
}
/* line 142, ../../app/styles/info.scss */
.level1 .page-content-purple .category#pensioner {
  left: 780px;
}
/* line 146, ../../app/styles/info.scss */
.level1 .page-content-purple .category#special {
  left: 1117px;
}
/* line 151, ../../app/styles/info.scss */
.level1 .page-content-purple .category.active.yellow {
  color: #ffe95d;
}
/* line 155, ../../app/styles/info.scss */
.level1 .page-content-purple .category.active.green {
  color: #9dc66d;
}
/* line 159, ../../app/styles/info.scss */
.level1 .page-content-purple .category.active.light-blue {
  color: #63c6ef;
}
/* line 165, ../../app/styles/info.scss */
.level1 .page-content-purple .group {
  left: 105px;
}
/* line 168, ../../app/styles/info.scss */
.level1 .page-content-purple .group#individual {
  top: 1122px;
}
/* line 171, ../../app/styles/info.scss */
.level1 .page-content-purple .group#individual.active {
  color: #63c6ef;
}
/* line 176, ../../app/styles/info.scss */
.level1 .page-content-purple .group#medium {
  top: 1270px;
}
/* line 179, ../../app/styles/info.scss */
.level1 .page-content-purple .group#medium.active {
  color: #9dc66d;
}
/* line 184, ../../app/styles/info.scss */
.level1 .page-content-purple .group#small {
  top: 1445px;
}
/* line 187, ../../app/styles/info.scss */
.level1 .page-content-purple .group#small.active {
  color: #ffe95d;
}
/* line 193, ../../app/styles/info.scss */
.level1 .page-content-purple .action {
  top: 1641px;
}
/* line 196, ../../app/styles/info.scss */
.level1 .page-content-purple .action#nonpro-photo {
  left: 105px;
}
/* line 199, ../../app/styles/info.scss */
.level1 .page-content-purple .action#nonpro-photo.active {
  color: #63c6ef;
}
/* line 204, ../../app/styles/info.scss */
.level1 .page-content-purple .action#nonpro-video {
  left: 624px;
}
/* line 207, ../../app/styles/info.scss */
.level1 .page-content-purple .action#nonpro-video.active {
  color: #9dc66d;
}
/* line 212, ../../app/styles/info.scss */
.level1 .page-content-purple .action#audio {
  left: 1147px;
}
/* line 215, ../../app/styles/info.scss */
.level1 .page-content-purple .action#audio.active {
  color: #ffe95d;
}
/* line 221, ../../app/styles/info.scss */
.level1 .page-content-purple .price-place {
  left: 475px;
  top: 1118px;
  background-image: url('../images/generated/info-sd9e2cfecbf.png');
  background-position: 0 -576px;
  background-repeat: no-repeat;
  height: 396px;
  width: 958px;
}
/* line 227, ../../app/styles/info.scss */
.level1 .page-content-purple .price-place .price-card {
  left: 3px;
  top: 3px;
  width: 777px;
  height: 391px;
  border-radius: 2%/4%;
}
/* line 236, ../../app/styles/info.scss */
.level1 .page-content-purple .price-place .price-card.yellow {
  background-color: #ffe95d;
  color: #6c61a7;
}
/* line 241, ../../app/styles/info.scss */
.level1 .page-content-purple .price-place .price-card.green {
  background-color: #9dc66d;
  color: white;
}
/* line 246, ../../app/styles/info.scss */
.level1 .page-content-purple .price-place .price-card.light-blue {
  background-color: #63c6ef;
  color: white;
}
/* line 251, ../../app/styles/info.scss */
.level1 .page-content-purple .price-place .price-card .price-value {
  right: 80px;
  text-align: right;
  font-size: 385px;
  font-family: 'PT Sans Pro Condensed Light';
  font-size: 385px;
}
/* line 264, ../../app/styles/info.scss */
.level1 .page-content-purple .separator {
  left: 105px;
  width: 1333px;
  border-bottom: 5px dotted white;
}
/* line 271, ../../app/styles/info.scss */
.level1 .page-content-purple .separator#first {
  top: 1054px;
}
/* line 275, ../../app/styles/info.scss */
.level1 .page-content-purple .separator#second {
  top: 1580px;
}

/* line 282, ../../app/styles/info.scss */
.level2 {
  top: 2048px;
}
/* line 288, ../../app/styles/info.scss */
.level2 .button.text {
  background-image: url('../images/generated/buttons-s317a563d48.png');
  background-position: 0 -1492px;
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
}
/* line 293, ../../app/styles/info.scss */
.level2 .text-description {
  top: 253px;
  width: 650px;
  font-size: 25px;
  line-height: 46px;
  letter-spacing: 1px;
}
/* line 302, ../../app/styles/info.scss */
.level2 .text-description .name {
  font-family: 'PT Serif Caption Italic';
}
/* line 305, ../../app/styles/info.scss */
.level2 .text-description .header {
  font-family: 'PT Sans Pro Extra Bold Regular';
}
/* line 308, ../../app/styles/info.scss */
.level2 .text-description .text {
  font-family: 'PT Serif Caption Regular';
}
/* line 312, ../../app/styles/info.scss */
.level2 .text-description.text-column1 {
  left: 105px;
}
/* line 316, ../../app/styles/info.scss */
.level2 .text-description.text-column2 {
  left: 777px;
}
